<h2>Cliente excluído com sucesso!!!</h2>

<button class="btn btn-default" onclick="Home()">Home</button>

<script>
    function Home() {
        window.location.href = window.location.origin = "/Home/Index";
    }
</script>

