
@{
    ViewData["Title"] = "Excluir";
}

<h2>Excluir Cliente</h2>

<h3>Deseja realmente excluir o Cliente selecionado?</h3>
<button class="btn btn-danger" onclick="Excluir(1)">Sim</button>
<button class="btn btn-default" onclick="Excluir(0)">Não</button>

<script>
    function Excluir(id) {
        if (id == 1) {
            window.location.href = window.location.origin = "/Home/ExcluirCliente/" + @ViewData["Cliente_Id"];
        } else {
            window.location.href = window.location.origin = "/Home/Index";
        }
    }
</script>
