@model ClienteModel
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Código</td>
            <td>Nome</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.ListaClientes)
        {
        <tr>
            <td>@item.Id.ToString()</td>
            <td>@item.Nome.ToString()</td>
            <td>@item.Email.ToString()</td>
        </tr>                
        }        
        </tbody>
    </table>

<button class="btn btn-block btn-primary" onclick="registrar()">Registrar Cliente</button>

<script>
    function registrar() {
        window.location.href = window.location.origin = "/Home/Registrar";
    }
</script>