@model ClienteModel
<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Código</td>
            <td>Nome</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.ListaClientes)
        {
        <tr>
            <td><button class="btn btn-default" onclick="registrar(@item.Id.ToString())">Editar</button></td>
            <td>@item.Id.ToString()</td>
            <td>@item.Nome.ToString()</td>
            <td>@item.Email.ToString()</td>
        </tr>                
        }        
        </tbody>
    </table>

<button class="btn btn-block btn-primary" onclick="registrar()">Registrar Cliente</button>

<script>
    function registrar(id) {
        if (id == null) {
            id = "";
        }
        window.location.href = window.location.origin = "/Home/Registrar/" + id;
    }
</script>